<div class="alert alert-info">
	<p>"This website uses trademarks and/or copyrights owned by Paizo Inc.,
		which are used under Paizo's Community Use Policy. We are expressly
		prohibited from charging you to use or access this content. This
		website is not published, endorsed, or specifically approved by
		Paizo Inc. For more information about Paizo's Community Use Policy,
		please visit <a	href="http://www.paizo.com/communityuse">paizo.com/communityuse
		</a>.  For more information about Paizo Inc. and Paizo products,
		please visit <a href="http://www.paizo.com">paizo.com.</a>"
	</p>
</div>

<div class="well">
<p><strong>Webmaster</strong></p>
<p>This site and its contents were designed, created and are being maintained by <a href="mailto:njgoplen@gmail.com">Nolan Goplen</a>.</p>
</div>

<div class="well">
<p><strong>Server Details</strong></p>
<p>This webpage is being hosted on an Amazon t2 microinstance and is being served to you through nginx.</p>
</div>

<div class="well">
<p><strong>Website Details</strong></p>
</div>