<div class="row">
	<img src="/images/characters-full/{{character_id}}.jpg" class="col-md-4 visible-lg visible-md">
	<ul class="list-group col-md-8">
		<li class="list-group-item">
			<p><strong>Hand Size</strong><span class="power-list">4</span> <span class="power-list label label-default">5</span></p>
		</li>
		<li class="list-group-item">
			<p><strong>Proficient With</strong><span class="power-list">Light Armors</span><span class="power-list">Weapons</span></p>
		</li>
		<li class="list-group-item">
			<p>When you play a weapon that has the Firearm trait, if you would bury it or shuffle it into your deck, you may keep it and instead perform the required action with another card</p>
		</li>
		<li class="list-group-item">
			<p>You may shuffle a card from your had into your deck to add 1d4(<span class="label label-success">+1</span>) (<span class="label label-success">+2</span>) (<span class="label label-default">+3</span>) to any combat check at another location.</p>
		</li>
	</ul>
</div>
