<div class="row">
	<img src="/images/characters-full/{{character_id}}.jpg" class="col-md-4 visible-lg visible-md">
	<ul class="list-group col-md-8">
		<li class="list-group-item">
			<span class="mainskill">Strength</span>
			<btn ng-repeat-start="skill in strength" ng-if="skill.subSkill == null" ng-class="{'btn btn-xs':1, 'btn-primary':$first, 'btn-success':skill.active==='t', 'btn-default':skill.active==='f'}" ng-click="skillToggle('{{skill.id}}','{{skill.active}}')">{{skill.skill}}</btn>
			<br ng-if="skill.subSkill != null"/><span ng-repeat-end ng-if="skill.subSkill != null">{{skill.subSkill}} : {{skill.mainSkill}}  <span class="label label-primary">{{skill.skill}}</span></span>
		</li>
		<li class="list-group-item">
			<span class="mainskill">Dexterity</span>
			<btn ng-repeat-start="skill in dexterity" ng-if="skill.subSkill == null" ng-class="{'btn btn-xs':1, 'btn-primary':$first, 'btn-success':skill.active==='t', 'btn-default':skill.active==='f'}" ng-click="skillToggle('{{skill.id}}','{{skill.active}}')">{{skill.skill}}</btn>
			<br ng-if="skill.subSkill != null"/><span ng-repeat-end ng-if="skill.subSkill != null">{{skill.subSkill}} : {{skill.mainSkill}}  <span class="label label-primary">{{skill.skill}}</span></span>
		</li>
		<li class="list-group-item">
			<span class="mainskill">Constitution</span>
			<btn ng-repeat-start="skill in constitution" ng-if="skill.subSkill == null" ng-class="{'btn btn-xs':1, 'btn-primary':$first, 'btn-success':skill.active==='t', 'btn-default':skill.active==='f'}" ng-click="skillToggle('{{skill.id}}','{{skill.active}}')">{{skill.skill}}</btn>
			<br ng-if="skill.subSkill != null"/><span ng-repeat-end ng-if="skill.subSkill != null">{{skill.subSkill}} : {{skill.mainSkill}}  <span class="label label-primary">{{skill.skill}}</span></span>
		</li>
		<li class="list-group-item">
			<span class="mainskill">Intelligence</span>
			<btn ng-repeat-start="skill in intelligence" ng-if="skill.subSkill == null" ng-class="{'btn btn-xs':1, 'btn-primary':$first, 'btn-success':skill.active==='t', 'btn-default':skill.active==='f'}" ng-click="skillToggle('{{skill.id}}','{{skill.active}}')">{{skill.skill}}</btn>
			<br ng-if="skill.subSkill != null"/><span ng-repeat-end ng-if="skill.subSkill != null">{{skill.subSkill}} : {{skill.mainSkill}}  <span class="label label-primary">{{skill.skill}}</span></span>
		</li>
		<li class="list-group-item">
			<span class="mainskill">Wisdom</span>
			<btn ng-repeat-start="skill in wisdom" ng-if="skill.subSkill == null" ng-class="{'btn btn-xs':1, 'btn-primary':$first, 'btn-success':skill.active==='t', 'btn-default':skill.active==='f'}" ng-click="skillToggle('{{skill.id}}','{{skill.active}}')">{{skill.skill}}</btn>
			<br ng-if="skill.subSkill != null"/><span ng-repeat-end ng-if="skill.subSkill != null">{{skill.subSkill}} : {{skill.mainSkill}}  <span class="label label-primary">{{skill.skill}}</span></span>
		</li>
		<li class="list-group-item">
			<span class="mainskill">Charisma</span>
			<btn ng-repeat-start="skill in charisma" ng-if="skill.subSkill == null" ng-class="{'btn btn-xs':1, 'btn-primary':$first, 'btn-success':skill.active==='t', 'btn-default':skill.active==='f'}" ng-click="skillToggle('{{skill.id}}','{{skill.active}}')">{{skill.skill}}</btn>
			<br ng-if="skill.subSkill != null"/><span ng-repeat-end ng-if="skill.subSkill != null">{{skill.subSkill}} : {{skill.mainSkill}}  <span class="label label-primary">{{skill.skill}}</span></span>
		</li>
	</ul>
</div>
